<!DOCTYPE html>
<html>
<head>
    <title>Create vCard QR Code</title>
</head>
<body>
    <h1>Create vCard QR Code</h1>
    <form method="post">
        First Name: <input type="text" name="first_name"><br>
        Middle Name: <input type="text" name="middle_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Designation: <input type="text" name="designation"><br>
        Company Name: <input type="text" name="company_name"><br>
        Work Phone: <input type="text" name="phone_work"><br>
        Personal Phone: <input type="text" name="phone_personal"><br>
        Personal Phone 2: <input type="text" name="phone_personal_2"><br>
        Email: <input type="text" name="email"><br>
        Email 2: <input type="text" name="email2"><br>
        Complete Address: <input type="text" name="address"><br>
        Website: <input type="text" name="website"><br>
        <input type="submit" value="Generate QR Code">
    </form>
</body>
</html>
